@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #6fa8dc;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #194d7a;
  padding: 10px 2vw;
  height: 80px;
  display: flex;
  gap: 10px;
  align-items: center;
}

input {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px;
  width: 300px;
  height: 20px;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-size: 28px;
  text-align: center;
}

input::placeholder {
  color: #fff;
}

button {
  width: 250px;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  background-color: #1974D2;
  color: #fff;
  border-radius: 15px;
  border: 1px solid white;
}

button:active {
  position: relative;
  top: 2px;
}

input[type="color"] {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  outline: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid white;
  border-radius: 50%;
}

.center {
  display: flex;
  justify-content: center;
}

.slider, .secondSlider {
  width: 70px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 100px;
  background: #e7e9ef;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.slider-circle, .secondSliderCircle {
  height: 40px;
  width: 40px;
  position: relative;
  left: -2px;
  border-radius: 100px;
  background: white;
  transition: 0.2s ease-in-out;
}

.slider.active, .secondSlider.active {
  background-color: #6fa8dc;
  border-color: white;
  float: right;
}

#movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.movie-details-container p {
  font-size: 30px;
  text-align: center;
}

.movie-details-container h2 {
  font-size: 40px;
  margin: 0;
  text-align: center;
}

#movie-details img {
  width: 420px;
  height: 623px;
}

.add-to-favorites {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.poster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.OMDB {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#movie-details a {
  display: flex;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}

.tooltip {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 10px;
  max-width: 300px;
  border-radius: 5px;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip h3 {
  margin: 0;
  font-size: 16px;
}

.tooltip p {
  margin: 5px 0 0;
  font-size: 14px;
}

.tooltip.active {
  visibility: visible;
  opacity: 1;
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
}

.tooltip-title {
  font-size: 18px;
  font-weight: bold;
  color: #194d7a;
}

.favorite-movie-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#favorites-button.has-favorites {
  background-color: #FF0000;
}

.add-to-favorites-button {
  height: 120px;
}

.delete-from-favorites {
  margin-left: 20px;
  position: relative;
  top: -5px;
  height: 40px;
  width: 90px;
  text-align: center;
  font-size: 22px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.favorite-movie-link {
  margin-top: 10px;
}